/* @font-face { 
    font-family: ZainLight;
    src: url('Zain-Light.ttf') format('truetype');
    font-size: larger;
} */

:root {
    --bg-color: #000000;
    --font-color: #fceaff;
    --st-font-color: #965fa0;
    --accent-color: #ce41ce;
    --link-color: #ee49ee;
    --link-hover-color: #ba9cb6;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
    /* font-family: ZainLight; */
    font-size:medium;
    padding-left:75px;
    margin: 0;
}

#header {
    width: 100%;
    background-color: var(--header-color);

    height: 100px;
}

.flex {
  max-width: 1000px;
  margin: 0 auto;
}

table img {
    width: 100%;
    height:100%;
}
table {
    width: 100%;
}
table {border: none;}

* {
  font-family: "Noto Sans Mono", "Consolas", "SF Mono", monospace;
  /* font-family: 'Kumbh Sans', sans-serif; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  padding: 20px;
  font-size: 16px;
  line-height: 1.5;
  /* display:flex; */
  justify-content: center;
  background: var(--bg-color);
  order:1;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    border:solid 1px var(--accent-color);
    border-radius: 5px;
}

.container a {
    color: var(--link-color);
    font-weight: bold;
}

.smallContainer {
    /* background-color: var(--bg-color); - UNLESS A BOX COLOR VARIABLE GETS ADDED - LEAVE COMMENTED OUT*/
    border: 1px solid var(--accent-color);
    padding: 5px;
    border-radius:5px;
    margin: 5px;
    padding: 5px;
    
}

/* a {
  &,
  &:visited {
    &,
    & small {
      color: #084a90;
      text-decoration: none;
      display: inline-block;
      transition: transform 0.3s ease;

      @media (max-width: 900px) {
        display: inline;
      }
    }
  }

  &:hover,
  &:focus {
    &,
    & small {
      background-clip: text;
      color: transparent;
      animation: 1.5s ease-in-out infinite;
      background-size: 400% 100%;
      text-decoration-style: wavy;
      transform: scale(1.03) rotate(-1deg);
    }
  }
} */


/* font - sizing rules: */

h1,
h2,
h3,
strong {
    color: var(--st-font-color);
    font-size: larger;
}

p, b, ul {
    font-size: medium;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}
ul {
  /* text-indent: 5%; */
  padding-left: 1.5rem;
}
.smallContainer li {
  list-style-type: "✦ ";
}

a::visited {
  color: var(--link-hover-color)
}

.divider {
    border:1px dashed var(--accent-color);
    width: auto;
    overflow-y:scroll;
    overflow-x:hidden;
    scrollbar-color: var(--accent-color) var(--bg-color);
    margin: 10px;
}

#navbar a {
  text-decoration: none;
  color: var(--link-color);
}
#navbar a:hover {
    color: var(--link-hover-color);
    text-decoration: underline;
}

#footer {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Makes it looks like it's typing - TODO RESOLVE ANIMATION */

.header::after {
  content: "_";
  display: block;
  animation: blink 1s infinite;
}